[user]
    name = Shawn Her Many Horses
    email = shawnhmh@gmail.com
[alias]
    recent = branch --sort=-committerdate
[core]
    editor = vim
	excludesfile = /Users/shawnhmh/.gitignore
[merge]
    tool = vimdiff
    conflictstyle = diff3
[difftool]
	prompt = false
[push]
	default = current
